/* ---reset.css--- */
.bg {
	margin: 0 auto;
}

.decimal {
	list-style-type: decimal;
	margin-left: 1.2em;
}

.main {
	position: relative;
	min-height: calc(100vh - 60px - 85px);
	overflow-x: hidden;
}
.go2top {
	padding-bottom: 20px;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media (max-width: 1200px) {
	.go2top {
		padding-bottom: 1.66667vw;
	}
	.go2top a {
		width: 5vw;
		height: 5vw;
	}
}
@media (max-width: 800px) {
	.logo img {
		width: 20.125vw;
	}
	.main {
		min-height: calc(100% - 8.5vw - 11.75vw);
	}
	.go2top {
		padding-bottom: 5vw;
	}
	.go2top a {
		width: 11.75vw;
		height: 11.75vw;
		font-size: 4vw;
	}
}
.main {
	position: relative;
	background: #000;
	background: url(/static/img/viprules/bg.jpg) no-repeat center top;
	background-size: 1920px auto;
	padding-top: 485px;
	padding-bottom: 100px;
}
.vip-table {
	background: url(/static/img/viprules/vip-table.30167da6.png) no-repeat center center;
	background-size: 1140px auto;
	height: 776px;
}
.details {
	margin-top: 40px;
	font-size: 17px;
	color: #dec89b;
}
.details .container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 30px;
	left: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	width: 100%;
}
.details .title {
	background: url(/static/img/viprules/desc-title.e3b73a35.png) no-repeat center center;
	background-size: contain;
	width: 176px;
	height: 40px;
	margin-bottom: 15px;
}
@media (max-width: 1200px) {
	.main {
		background-size: 160vw auto;
		padding-top: 40.41667vw;
		padding-bottom: 8.33333vw;
	}
	.vip-table {
		background-size: 95vw auto;
		height: 64.66667vw;
	}
	.details {
		margin-top: 3.33333vw;
		font-size: 1.41667vw;
	}
	.details .title {
		width: 14.66667vw;
		height: 3.33333vw;
		margin-bottom: 1.25vw;
	}
}
@media (max-width: 800px) {
	.main {
		background: url(/static/img/viprules/bg-min.jpg) no-repeat center top;
		background-size: contain;
		padding-top: 97.5vw;
		padding-bottom: 25vw;
	}
	.vip-table {
		background: url(/static/img/viprules/vip-table-min.4d8a83d2.png) no-repeat center center;
		background-size: 83.5vw auto;
		height: 237.375vw;
	}
	.details {
		margin-top: 8.375vw;
		font-size: 2.5vw;
		color: #dec89b;
	}
	.details .title {
		width: 29vw;
		height: 6.625vw;
		margin: 0 auto 4.25vw;
	}
	.go2top {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.go2top a {
		width: 60px;
		height: 60px;
	}
}
