<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/static/favicon/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>线下新女郎 零距离邂逅 - 新利</title>
		<%- injectScript %>
	</head>

	<body>
		<div id="app"></div>
		<script type="module" src="/src/campaigns/freshman2022/index.js"></script>
		<script>
			console.log('%c ver: <%= ver %>.<%= buildTime %> ', 'color:#fff;padding:4px;background:#a62337;font-size:12px;font-weight:bold;text-shadow: #000 1px 1px;');
		</script>
	</body>
</html>
